@import '../../components/variables/variables';

.projetos {
    height: 90vh;
    .list__container {
        display: flex;
        justify-content: center;
        .projetos__list {
            align-items: center;
            background: $main_color;
            border: 2px solid black;
            border-radius: 30px;
            box-shadow: 2px 2px 10px black;
            display: flex;
            height: 60px;
            margin: 80px 0;
            justify-content: space-around;
            padding: 10px;
            width: 50%;
            .links_pag {
                cursor: pointer;
                color: $font_color;
                padding: 20px 40px;  
                &:hover {
                    color: $font_color-2;
                }
            }
        }
    }
    .cards__container {
        display: flex;
        justify-content: center;
        width: 100%;
        .cards__content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            height: 64vh;
            justify-content: center;
            padding: 10px 0;
            width: 100%;
        }
    }
}

.active {
    color: $font_color-2 !important;
}

