@import '../../../components/variables/_variables.scss';

.angles__list {
    width: 30%;
    margin-top: 30px;
    gap: 40px;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin-top: 70px;
    position: absolute;
    .angles {
        width: 20px;
        padding: 10px 20px !important;
        border: 2px solid $font_color-2 !important;
        @include icons();
    }
}

.social {
    display: flex;
    font-size: 45px;
    gap: 30px;
    .linkedin,
    .git,
    .whatsapp {
        @include icons();
    }
}

@media (min-width: 1000px) {
    .angles__list {
        font-size: 20px;
        display: flex !important;
        .angles {
            padding: 5px 10px !important;
        }
    }

    .social {
        justify-content: center;
        font-size: 25px;
    }
}

@media (min-width: 0) {
    .angles__list {
        font-size: 20px;
        display: none;
        .angles {
            padding: 5px 10px !important;
        }
    }

    .social {
        justify-content: center;
        font-size: 30px;
    }
}
