@import '../../../components/variables/_variables.scss';

.angles__list {
    width: 100px;
    margin-top: 30px;
    gap: 10px;
    display: flex;
    font-size: 25px;
    flex-direction: row;
    position: absolute;
    .angles {
        width: 20px;
        padding: 10px 20px !important;
        border: 2px solid $font_color-2 !important;
        @include icons();
    }
}

.social {
    display: flex;
    font-size: 45px;
    gap: 30px;
    .linkedin,
    .git,
    .whatsapp {
        @include icons();
    }
}
