@import '../../../components/variables/variables';

.card__project {
    background: #474747;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px black;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    .card__project-img {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .card__project__content-txt {
        height: 315px;
        padding: 14px;
        position: relative;
        transition: 0.3s;
        &:hover {
            background: linear-gradient(190deg, transparent, black 110%);
            transition: 0.3s;
        }
        &:hover .card__project__tittle {
            transition: 0.3s;
            top: 0;
        }
        .card__project__tittle {
            font-weight: 600;
            margin: 0 0 10px 0;
            position: relative;
            transition: 0.3s;
            top: -100px;
        }
        .card__project__txt-first {
            bottom: -300px;
            color: $font_color;
            font-weight: 500;
            margin-top: 10px;
            position: relative;
            transition: 0.3s;
        }
    }
    .btnCard {
        margin-top: 10px;
        bottom: -200px;
        padding: 5px 10px;
        &:hover .btn__link {
            color: $font_color-2;
        }
    }
}

.btn__link {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

// @Mobile!



@media (min-width: 0) {
    .card__project {
        height: 200px;
        width: 35vh;
        .card__project__content-txt {
            &:hover .card__project__txt-first,
            &:hover .btnCard {
                bottom: -30px;
            }
        }
    }
    .card__project__tittle {
        font-size: 1rem;
    }

    .card__project__txt-first {
        font-size: .90rem;
    }
}

@media (min-width: 400px) {
    .card__project {
        height: 180px;
        width: 50vh;
        .card__project__content-txt {
            &:hover .card__project__txt-first,
            &:hover .btnCard {
                bottom: -30px;
            }
        }
    }
    .card__project__tittle {
        font-size: 1.25rem;
    }

    .card__project__txt-first {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .card__project {
        height: 200px;
        .card__project__content-txt {
            &:hover .card__project__txt-first,
            &:hover .btnCard {
                bottom: -50px;
            }
        }
    }
}
