@import '../../components/variables/_variables.scss';

.presentation {
    align-items: center;
    display: flex;
    color: $font_color;
    overflow-x: hidden;
    background: $main_color;
    box-shadow: 0 0 10px 5px black;
    .presentation__txt {
        text-shadow: 4px 4px 2px black;
        .presentation__one {
            font-weight: 400;
        }
        .presentation__two {
            color: $font_color-2;
            font-weight: 600;
            text-shadow: 6px 6px 4px black;
        }
        .presentation__three {
            font-weight: 400;
        }
        .presentation__four {
            font-weight: 400;
            margin-top: 20px;
        }

        .front-end-txt {
            color: $font_color-2;
        }
    }
}

.presentation__image img {
    animation: giro 20s infinite linear;
    filter: drop-shadow(0 0 10px black);
}

@media (min-width: 0px) {
    .presentation {
        display: flex;
        height: 88vh;
        width: 100%; 
        gap: 0;
        justify-content: center;
        text-align: center;
        overflow-x: hidden;
        .presentation__one {
            font-size: 1.5rem;
        }
        .presentation__two {
            font-size: 2.5rem;
        }
        .presentation__three {
            font-size: 1.5rem;
        }
        .presentation__four {
            font-size: 1.2rem;
        }
        .presentation__image img {
            display: none;
        }
    }
}

@media (min-width: 1000px) {
    .presentation {
        gap: 40px;
        justify-content: space-evenly;
        padding: 0 !important;
        text-align: start;
        width: 100%;
        .presentation__image {
            width: 300px;
        }
        .presentation__image img {
            display: flex;
            width: 300px;
        }
    }
}

@media (min-width: 1500px) {
    .presentation__one {
        font-size: 3rem !important;
    }
    .presentation__two {
        font-size: 3rem !important;
    }
    .presentation__three {
        font-size: 2rem !important;
    }
    .presentation__four {
        font-size: 1.7rem !important;
    }
    .presentation__image {
        width: 500px;
    }
}
