@import '../../components/variables/_variables.scss';

.presentation {
    align-items: center;
    display: flex;
    color: $font_color;
    overflow-x: hidden;
    .presentation__txt {
        text-shadow: 4px 4px 2px black;
        .presentation__one {
            font-weight: 400;
        }
        .presentation__two {
            color: $font_color-2;
            font-weight: 600;
            text-shadow: 6px 6px 4px black;
        }
        .presentation__three {
            font-weight: 400;
        }
        .presentation__four {
            font-weight: 400;
            margin-top: 20px;
        }

        .front-end-txt {
            color: $font_color-2;
        }
    }
}

.presentation__image img {
    animation: giro 20s infinite linear;
    filter: drop-shadow(0 0 10px black);
}

@media (min-width: 0px) {
    .presentation {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 30px;
        gap: 0;
        height: 100vh; 
        overflow-x: hidden;
        .presentation__one {
            font-size: 1.5rem;
        }
        .presentation__two {
            font-size: 2.5rem;
        }
        .presentation__three {
            font-size: 1.5rem;
        }
        .presentation__four {
            font-size: 1.2rem;
        }
        .presentation__image img {
            display: none;
        }
    }
}

@media (min-width: 1000px) {
    .presentation {
        justify-content: space-evenly;
        padding: 0;
        width: 100%;
        gap: 40px;
        text-align: start;
        .presentation__image {
            width: 300px;
        }
        .presentation__image img {
            display: flex;
            width: 300px;
        }
    }
}

@media (min-width: 1600px) {
    .presentation__one {
        font-size: 2rem;
    }
    .presentation__two {
        font-size: 3rem;
    }
    .presentation__three {
        font-size: 2rem;
    }
    .presentation__four {
        font-size: 1.7rem;
    }
    .presentation__image {
        width: 500px;
    }
}

@media (min-width: 1920px) {
    .presentation__one {
        font-size: 3rem;
    }
    .presentation__two {
        font-size: 5rem;
    }
    .presentation__three {
        font-size: 3rem;
    }
    .presentation__four {
        font-size: 2rem;
    }
    .presentation__image-react {
        width: 400px;
    }
}
