// Cores

$main_color: #0a0a0a;
$second_color: #141414;
$third_color: #1a1a1a;
$font_color: #818181;
$font_color-2: #ff0040;
$font_color-hover: #ff0040;

code {
    color: $font_color-2;
}

cite {
    font-size: 25px;
    position: absolute;
    top: 3px;
    left: 16px;
    display: inline;
    font-weight: 900;
}

// @mixin - sobre - content__txt

@mixin content__txt($top, $left, $font-size, $font-weight) {
    color: $font_color-2;
    left: $left;
    top: $top;
    font-size: $font-size;
    font-weight: $font-weight;
    text-shadow: 2px 2px 5px black;
    position: absolute;
}

// @mixins

// Sobre__font

@mixin font-style($font-size, $font-weight, $margin-top) {
    font-size: $font-size;
    font-weight: $font-weight;
    margin-top: $margin-top;
}

// button__all

@mixin btn() {
    
}

// Icons

@mixin icons() {
    color: $font_color-2;
    cursor: pointer;
    border: 3px solid $font_color-2;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 4px black);
    margin: 0;
    padding: 1px 14px;
    transition: 0.5s;
    &:hover {
        color: black;
        background: $font_color-2;
        filter: drop-shadow(0px 0px 6px $font_color-2);
    }
}

// @keyframes

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
