@import '../variables/variables';

.nav {
    bottom: 15px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 20;
    .mobile__menu {
        align-items: center;
        background: $main_color;
        border-radius: 80%;
        box-shadow: 0px 5px 13px black;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        margin: 0 auto;
        padding: 15px 5px 5px 5px!important;
        width: 50px;
        &:hover .navbar__mobile-box {
            background: $main_color;
            box-shadow: 0 0 10px black;
            border: 1px solid black;
            height: 200px;
            transform: translateX(0px);
            transition: 0.3s;
            width: 200px;
        }
        .line__first,
        .line__second,
        .line__third {
            background-color: $font_color-2;
            height: 3px;
            margin-bottom: 3px;
            width: 30px;
        }
    }
    .navbar__mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: -1;
        .navbar__mobile-box {
            align-items: center;
            background-color: transparent;
            border-radius: 20px ;
            bottom: 40px;
            display: flex;
            height: 0px;
            padding: 10px;
            position: absolute;
            transition: 0.3s;
            transform: translateX(-50px);
            overflow: hidden;
            width: 0px;
            z-index: -1;
            .navbar__mobile-links {
                display: flex;
                flex-direction: column;
                font-size: 1.25rem;
                gap: 17px; 
                padding: 0 10px !important;
                text-align: center;
                .links {
                    color: $font_color;
                    padding: 7px 40px;
                    text-decoration: none;
                }
            }
        }
    }
}


@media (min-width: 800px) {
    .nav {
        display: none;
    }
}