@import '../variables/variables';

.box {
    .navbar {
        align-items: center;
        box-shadow: 0px 5px 13px black;
        background: $main_color;
        display: flex;
        z-index: 20;
        .navbar__el {
            color: $font_color-2;
            text-shadow: 0 0 30px $font_color-2;
        }
        .navbar__menu {
            display: flex;
            gap: 50px;
        }
        .navbar__menu li {
            list-style: none;
            .links {
                color: $font_color;
                transition: 0.3s;
                font-size: calc(2rem - 2px);
                text-decoration: none;
                &:hover {
                    color: $font_color-2;
                    text-shadow: 0 0 10px $font_color-2;
                }
            }
            .active {
                color: $font_color-2 !important;
                text-shadow: 0 0 10px $font_color-2;
            }
        }
    }
}

@media (min-width: 0px) {
    .box {
        height: 60px;
        width: 100%;
    .navbar {
        height: 70px;
        width: 100%;
        justify-content: center;
        position: static;
        .navbar__el {
            font-size: 1.75rem;
        }
        .navbar__menu li {
            display: none !important;
            .links {
                display: none !important;
            }
        }
    }
    }
}


