@import '../variables/variables';

.box {
    width: 100%;
    height: 120px;
    .navbar {
        align-items: center;
        box-shadow: 0px 5px 13px black;
        background: $main_color;
        display: flex;
        height: 120px;
        justify-content: space-around;
        width: 100%;
        position: fixed;
        z-index: 20;
        .navbar__el {
            color: $font_color-2;
            font-size: calc(2rem - 2px);
            text-shadow: 0 0 30px $font_color-2;
        }
        .navbar__menu {
            display: flex;
            gap: 50px;
        }
        .navbar__menu li {
            list-style: none;
            .links {
                color: $font_color;
                transition: 0.3s;
                font-size: calc(2rem - 2px);
                text-decoration: none;
                &:hover {
                    color: $font_color-2;
                    text-shadow: 0 0 10px $font_color-2;
                }
            }
            .active {
                color: $font_color-2 !important;
                text-shadow: 0 0 10px $font_color-2;
            }
        }
    }
}


@media (max-width: 1600px) {
    .box {
        width: 100%;
        height: 80px;
        .navbar {
            width: 100%;
            height: 80px;
            .navbar__el {
                font-size: 1.5rem;
            }
            .navbar__menu li {
                .links {
                    font-size: 1.5rem;
                }

            }
        }
    }
}

@media (max-width: 650px) {

}


