@import '../../components/variables/variables';

cite {
    top: 1px !important;
}

.sobre {
    display: flex;
    color: $font_color;
    text-shadow: 4px 4px 2px black;
    overflow-x: hidden;
    .box {
        background: transparent;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            inset: -80px 100px;
            background: linear-gradient(90deg, $font_color-2, black 140%);
            transition: 1s;
            animation: giro 4s linear infinite;
        }
        &:hover::before {
            inset: -300px -330px;
        }
        &::after {
            content: '';
            position: absolute;
            inset: 4px;
            background: $second_color;
            border-radius: 20px;
        }
        .content {
            border: 3px solid black;
            inset: 7px;
            border-radius: 20px;
            position: absolute;
            z-index: 3;
            overflow: hidden;
            .content__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                filter: drop-shadow(4px 4px 6px black);
                position: relative;
                transition: 0.5s;
                &:hover,
                .box:hover {
                    opacity: 0;
                }
            }
            .content__txt-first {
                // top / left / fonts-size / font-weight
                @include content__txt(75px, 20px, 2rem, 700);
            }
            .content__txt-second {
                @include content__txt(120px, 20px, 1.25rem, 500);
            }
            .content__txt-third {
                @include content__txt(130px, 110px, calc(1rem - 1px), 700);
            }
        }
    }

    .btn__container {
        display: flex;
        margin-top: 30px;
        .copy {
            border: 3px solid transparent;
            box-shadow: 3px 3px 10px black;
            border-radius: 10px;
            color: black;
            background: $font_color-2;
            padding: 3px 3px;
            position: relative;
            margin-right: 20px;
            transition: 0.3s;
            &:hover {
                background: none;
                border: 3px solid $font_color-2;
                box-shadow: 0 0 10px $font_color-2;
                color: $font_color-2;
            }
        }
    }
}

@media (min-width: 0) {
    .sobre {
        height: 140vh;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        .box {
            min-width: 200px;
            width: 200px;
            min-height: 200px;
            height: 300px;
            margin: 0 auto;
            margin: 0 !important;
            padding: 0 !important;
        }
        .sobre__txt {
            text-align: center;
            .sobre__txt-first {
                // font-size / font-weight / margin-top
                @include font-style(2.5rem, 700, 0px);
                margin-bottom: 40px;
            }
            .sobre__txt-second {
                @include font-style(2rem, 600, -30px);
            }
            .sobre__txt-third {
                @include font-style(calc(1.5rem - 2px), 400, -10px);
            }
        }

        .btn__container {
            justify-content: center;
            padding: 0 20px;
            margin-bottom: 60px;
            .copy {
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 800px) {
    .sobre {
        gap: 30px;
        justify-content: center;
        flex-direction: row;
        height: 85vh;
        align-items: center;
        .box {
            min-width: 200px;
            width: 200px;
            min-height: 200px;
            height: 300px;
            margin-top: 40px;
        }
        .sobre__txt {
            text-align: start;
            .sobre__txt-first {
                // font-size / font-weight / margin-top
                @include font-style(2.5rem, 700, 50px);
                margin-bottom: 40px;
            }
            .sobre__txt-second {
                @include font-style(2rem, 600, -30px);
            }
            .sobre__txt-third {
                @include font-style(calc(1.5rem - 2px), 400, -10px);
            }
        }

        .btn__container {
            justify-content: start;
            padding: 0 20px;
            margin-bottom: 60px;
            .copy {
                font-size: 2rem;
            }
        }
    }
}
