@import '../../components/variables/variables';

cite {
    top: 1px !important;
}

.sobre {
    color: $font_color;
    display: flex;
    text-shadow: 4px 4px 2px black;
    overflow-x: hidden;
    .box__img {
        background: transparent;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        &::before {
            animation: giro 4s linear infinite;
            background: linear-gradient(90deg, $font_color-2, black 140%);
            content: '';
            inset: -80px 60px;
            transition: 1s;
            position: absolute;
        }
        &:hover::before {
            inset: -300px -330px;
        }
        &::after {
            background: $second_color;
            border-radius: 20px;
            content: '';
            inset: 4px;
            position: absolute;
        }
        .content {
            border: 3px solid black;
            border-radius: 20px;
            inset: 7px;
            position: absolute;
            overflow: hidden;
            z-index: 3;
            .content__img {
                border-radius: 20px;
                left: 0;
                filter: drop-shadow(4px 4px 6px black);
                height: 100%;
                position: relative;
                position: absolute;
                transition: 0.5s;
                top: 0;
                object-fit: cover;
                width: 100%;
                &:hover,
                .box:hover {
                    opacity: 0;
                }
            }
        }
    }

    .btn__container {
        display: flex;
        margin-top: 30px;
        .copy {
            border: 3px solid transparent;
            background: $font_color-2;
            border-radius: 10px;
            box-shadow: 3px 3px 10px black;
            color: black;
            margin-right: 20px;
            padding: 3px 3px;
            position: relative;
            transition: 0.3s;
            &:hover {
                background: none;
                border: 3px solid $font_color-2;
                box-shadow: 0 0 10px $font_color-2;
                color: $font_color-2;
            }
        }
    }
}

@media (min-width: 0) {
    .sobre {
        align-items: center;
        height: 140vh;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        .box__img {
            height: 300px;
            min-height: 200px;
            min-width: 200px;
            padding: 0 !important;
            width: 200px;
            margin-top: 20px !important;
        }

        .content__txt-first {
            // top / left / fonts-size / font-weight
            @include content__txt(30%, 20px, 1.6rem, 700);
        }
        .content__txt-second {
            @include content__txt(46%, 20px, 1rem, 500);
        }
        .content__txt-third {
            @include content__txt(49.2%, 90px, 0.75rem, 700);
        }

        .sobre__txt {
            text-align: center;
            .sobre__txt-first {
                // font-size / font-weight / margin-top
                @include font-style(2.5rem, 700, 0px);
                margin-bottom: 40px;
            }
            .sobre__txt-second {
                @include font-style(2rem, 600, -30px);
            }
            .sobre__txt-third {
                @include font-style(calc(1.5rem - 2px), 400, -10px);
            }
        }

        .btn__container {
            margin-bottom: 60px;
            padding: 0 20px;
            justify-content: center;
            .copy {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 290px) {
    .box__img {
        display: none;
    }
}

@media (min-width: 800px) {
    .sobre {
        align-items: center;
        flex-direction: row;
        height: calc(100vh - 80px);
        gap: 30px;
        justify-content: center;
        .box__img {
            height: 350px;
            margin-top: 40px;
            min-width: 200px;
            min-height: 200px;
            width: 250px;
            display: flex;
        }

        .content__txt-first {
            // top / left / fonts-size / font-weight
            @include content__txt(105px, 25px, 2rem, 700);
        }
        .content__txt-second {
            @include content__txt(150px, 25px, 1.25rem, 500);
        }
        .content__txt-third {
            @include content__txt(160px, 115px, calc(1rem - 1px), 700);
        }
        .sobre__txt {
            text-align: start;
            .sobre__txt-first {
                // font-size / font-weight / margin-top
                @include font-style(2.5rem, 700, 50px);
                margin-bottom: 40px;
            }
            .sobre__txt-second {
                @include font-style(2rem, 600, -30px);
            }
            .sobre__txt-third {
                @include font-style(calc(1.5rem - 2px), 400, -10px);
            }
        }

        .btn__container {
            justify-content: start;
            padding: 0 20px;
            margin-bottom: 60px;
            .copy {
                font-size: 2rem;
            }
        }
    }
}
