@import '../../components/variables/variables';

dialog {
    animation: anima 0.8s;
    background: $second_color;
    border-radius: 20px;
    box-shadow: 0 3px 10px 3px black;
    padding: 0 10px;
    .dialog__txt-first {
        color: $font_color-2;
        margin: 10px;
        text-align: center;
        text-shadow: 2px 2px 5px black;
    }
    .dialog__txt-second {
        font-weight: 500;
        margin: 10px;
        color: $font_color
    }
    .btnModal {
        padding: 2px 6px !important;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
        .link {
            padding: 0 !important;
        }
    }
}

@media (min-width: 800px) {
    .btnModal {
        margin-left: 120px !important;
    }
}

@keyframes anima {
    0% {
        transform: translateY(400px);
    }
    100% {
        transform: translateY(0);
    }
}
