@import '../../components/variables/variables';

.titulo__first,
.titulo__second,
.titulo__third {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: calc(4rem - 2px);
    position: relative;
}

.swiper {
    // Slide no geral
    display: flex;
    position: relative;
    &::before {
        content: '';
        background: $second_color;
        border: 4px solid black;
        border-radius: 40px;
        box-shadow: 0 0 5px black, inset 5px 5px 20px black;
        height: 50vh;
        inset: 1px;
        justify-content: center;
        padding: 10px;
        position: absolute;
        width: 84%;
        // Os slides individuais
    }

    .swiper-pagination {
        .swiper-pagination-bullet-active {
            background-color: $font_color-2;
        }
    }

    .wisper-3d {
        perspective: 500px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .--swiper-navigation-size {
        font-size: 1.25rem !important;
    }
}

@media (min-width: 0) {
    .swiper {
        height: 68vh;
        margin: 0 auto !important;
        width: 100% !important;
        &:last-child {
            margin-bottom: 40px !important;
        }
        // Slide no geral
        &::before {
            content: '';
            background: $second_color;
            border: 4px solid black;
            border-radius: 40px;
            box-shadow: 0 0 5px black, inset 5px 5px 20px black;
            height: 55vh;
            inset: 1px;
            margin: 0 auto;
            margin-top: 35px;
            position: absolute;
            padding: 0 20px;
            // Os slides individuais
        }
    }

    .titulo__first,
    .titulo__second,
    .titulo__third {
        font-size: 2rem;
    }

    .titulo__first {
        margin: 70px 20px 20px 20px;
    }
    
}

@media (min-width: 800px) {
    .swiper {
        height: 87vh;
        width: 120vh !important;
        // Slide no geral
        &::before {
            height: 65vh;
            margin-top: 80px;
            // Os slides individuais
        }
    }

    .titulo__first,
    .titulo__second {
        font-size: 2.5rem;
    }
    
}

@media (min-width: 1500px) {
    .swiper {
        width: 120vh !important;
    }
    .titulo__first,
    .titulo__second {
        font-size: 4rem;
    }
}


