@import '../../../components/variables/variables';

.slide {
    align-items: center;
    display: flex;
    justify-content: center;
    .slide__content {
        margin: 0;
        width: 100%;
        .card {
            background: linear-gradient(180deg, $second_color 80%, $font_color-2 400%);
            box-shadow: 0 0 10px 5px black;
            border-radius: 10px;
            transition: 0.3s;
            overflow: hidden;
            &:hover {
                transition: 0.3s;
            }
            .card__content {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .overlay {
                    background: linear-gradient(180deg, $font_color-2, black 150%);
                    border-radius: 18px 18px 50px 50px;
                    box-shadow: 2px 2px 10px black;
                    top: 0;
                    position: absolute;
                    width: 100%;
                }
                .card__img-container {
                    position: relative;
                    .card__img {
                        filter: drop-shadow(2px 2px 5px black);
                        height: 100%;
                        margin-top: 10px 0 10px 0;
                        object-fit: cover;
                        width: 100%;
                    }
                }
                .card__txt-content {
                    padding: 14px 14px;
                    text-align: center;
                    .card__txt-first {
                        color: $font_color-2;
                        text-shadow: 0 0 4px black;
                    }
                    .card__txt-second,
                    .card__txt-fourth {
                        font-weight: 500;
                        color: $font_color;
                        text-shadow: 3px 3px 3px black;
                    }
                    .card__txt-third {
                        margin: 5px;
                        color: $font_color-2;
                        text-shadow: 0 0 4px black;
                    }
                }
            }
        }
    }
}

@media (min-width: 0) {
    .card {
        width: 260px;
        height: 240px;
        &:hover {
            height: 370px;
            transition: 0.3s;
        }
        .overlay {
            height: 140px;
        }
        .card__img-container {
            width: 130px;
            height: 130px;
        }
        .card__txt-content {
            .card__txt-first {
                color: $font_color-2;
                font-size: 2rem;
                margin: 0;
                text-shadow: 0 0 4px black;
            }
            .card__txt-second,
            .card__txt-fourth {
                font-size: 1rem;
                font-weight: 500;
            }
            .card__txt-third {
                font-size: 1.5rem;
                margin: 5px;
                color: $font_color-2;
                text-shadow: 0 0 4px black;
            }
        }
    }
}

@media (min-width: 800px) {
    .card {
        width: 280px;
        height: 290px;
        &:hover {
            height: 420px;
            transition: 0.3s;
        }
        .overlay {
            height: 180px;
        }
        .card__img-container {
            width: 180px;
            height: 180px;
        }
        .card__txt-content {
            .card__txt-first {
                color: $font_color-2;
                font-size: 2rem;
                margin: 0;
                text-shadow: 0 0 4px black;
            }
            .card__txt-second,
            .card__txt-fourth {
                font-size: 1rem;
                font-weight: 500;
            }
            .card__txt-third {
                font-size: 1.75rem;
                margin: 5px;
                color: $font_color-2;
                text-shadow: 0 0 4px black;
            }
        }
    }
}
